/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif
    background-color: #f5f5f5;
    line-height: 1.6;
}

header {
    background-color: #5ba503;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

footer {
    background-color: #5ba503;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-weight: bold;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.category {
    padding: 1rem;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    overflow-x: hidden;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    border-radius: 5px;
}

.product h3,
.product p,
.add-to-cart {
    text-align: center; 
}


.controls {
    margin-top: 1rem;
}

.controls button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.controls button:hover {
    background-color: #555;
}

@media (min-width: 768px) {
    .product-list {
        grid-template-columns: repeat(5, 1fr);
    }
}


.add-to-cart {
    background-color: #28a745; 
    color: white;
    border: none; 
    padding: 0.5rem 1rem; 
    border-radius: 5px; 
    cursor: pointer; 
    width: fit-content;
}

.add-to-cart:hover {
    background-color: rgb(77, 138, 81);
    font-weight: bold;
    transform: scale(1.2);
}

.categories {
    display: flex;
    justify-content: center; 
}

.categories li {
    margin-right: 1rem;
}

.categories li:last-child {
    margin-right: 0;
}

.categories li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.user-links {
    display: flex;
}

.user-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}

.user-links a:first-child {
    margin-left: 0;
}